#!/bin/bash
if ! command -v nix-env &> /dev/null ; then
  curl -sSfL https://nixos.org/nix/install | sh -s -- --no-daemon --no-modify-profile
  . $HOME/.nix-profile/etc/profile.d/nix.sh
fi

# install tools.
nix-env --install \
  bat \
  devpod \
  direnv \
  fd \
  fzf \
  git-lfs \
  lsd \
  nodejs \
  procs \
  ripgrep \
  shellcheck \
  starship \
  zellij


{{- else if (eq .chezmoi.os "darwin") -}}

brew install --cask {{ $caskPackages | join " "}}
brew install {{ $brewPackages | join " "}}

{{- end }}
