{{- $commonPackages := list "tmux" "less" "ripgrep" "entr" "zsh" "pass" "git-lfs" "fzf" "wireguard-tools" -}}

{{- $brewPackages   := list "fd" "kind" "k3d" "k9s" "python" "procs" "bottom" "neovim" "go-task/tap/go-task" -}}
{{- $caskPackages   := list "alacritty" "homebrew/cask-fonts/font-fira-code-nerd-font" -}}

#!/bin/bash
if ! command -v nix-env &> /dev/null ; then
  curl -sSfL https://nixos.org/nix/install | sh -s -- --no-daemon --no-modify-profile
  . $HOME/.nix-profile/etc/profile.d/nix.sh
fi

# install tools.
nix-env --install \
  bat \
  devpod \
  direnv \
  fd \
  lsd \
  procs \
  shellcheck \
  starship \
  zellij

{{ if eq .chezmoi.os "linux" -}}

{{- if or (eq .chezmoi.osRelease.id "ubuntu" "debian") -}}

{{- if eq .chezmoi.osRelease.versionID "10" -}}
{{- $commonPackages = without $commonPackages "wireguard-tools" -}}
{{- end -}}

sudo apt update
sudo apt install --no-install-recommends -y {{ $commonPackages | join " " }}

{{- else if eq .chezmoi.osRelease.id "fedora" -}}
sudo dnf install -y {{ $commonPackages | join " "}}

{{- end -}}

{{- else if (eq .chezmoi.os "darwin") -}}

brew install --cask {{ $caskPackages | join " "}}
brew install {{ concat $commonPackages $brewPackages | join " "}}

{{- end }}
