{{- $remote := or (env "SSH_CONNECTION" | not | not) (env "KUBERNETES_SERVICE_HOST" | not | not) (env "container" | not | not) (env "REMOTE_CONTAINERS" | not | not) (stat "/.dockerenv" | not | not) -}}

# enable zsh history
HISTFILE="$HOME/.zsh_history"
HISTSIZE=60000
SAVEHIST=50000

# add user local completion folder to fpath
fpath+=(~/.zsh/completion)

if [[ -d $HOME/.local/bin ]] ; then 
  export PATH=$HOME/.local/bin:$PATH
fi 

if [[ -d $HOME/.krew ]] ; then
  export PATH=$HOME/.krew/bin:$PATH
fi

# edit PATH
{{ if eq .chezmoi.os "linux" -}}
export PATH=$HOME/.cargo/bin:$PATH
{{- end}}

{{if not $remote -}}
# setup gpg-agent ssh
unset SSH_AGENT_PID
if [ "${gnupg_SSH_AUTH_SOCK_by:-0}" -ne $$ ]; then
        export SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
fi
{{- end}}

autoload -Uz compinit && compinit

# enable single-user nix installation if found
if [ -e $HOME/.nix-profile/etc/profile.d/nix.sh ]; then . $HOME/.nix-profile/etc/profile.d/nix.sh; fi

# enable mise if found
if (command -v mise > /dev/null); then
  eval "$(mise activate zsh)"
fi

# (neo)vim
if command -v nvim > /dev/null ; then
  export EDITOR="nvim"
  export VISUAL="nvim"
elif command -v vim > /dev/null ; then
  export EDITOR="vim"
  export VISUAL="vim"
fi

if command -v lsd > /dev/null ; then
  alias ls="lsd"
  alias ll="ls -lgh"
  alias la='ls -a'
  alias lla='ls -lgha'
  alias lt='ls --tree'
fi

# enable usage of .envrc files
if command -v direnv > /dev/null ; then
  eval "$(direnv hook zsh)"
fi

# enable zsh vi-mode
bindkey -v
export KEYTIMEOUT=1 # make switching between modes faster

# enable the starship prompt
if command -v starship > /dev/null ; then
  eval "$(starship init zsh)"
fi

# enable fzf autocompletion and key-bindings if found
if command -v fzf > /dev/null ; then
  source $HOME/.nix-profile/share/fzf/key-bindings.zsh
fi

# enable zoxide if found
if command -v zoxide > /dev/null ; then
  eval "$(zoxide init zsh)"
fi

if command -v kubectl > /dev/null ; then
  source <(kubectl completion zsh)
  alias k="kubectl"
fi

{{if not $remote -}}
if command -v zellij > /dev/null ; then
  eval "$(zellij setup --generate-auto-start zsh)"
fi
{{- end}}

# some nice functions and aliases

## bat on debian based systems is batcat. Fix that.
if command -v batcat > /dev/null ; then
  alias bat="batcat"
fi

if [[ -d .zsh/zsh-autosuggestions ]] ; then
  source .zsh/zsh-autosuggestions/zsh-autosuggestions.zsh
fi

# syntax highlighting needs to be at the end because of reasons
if [[ -d .zsh/zsh-syntax-highlighting ]] ; then
  source .zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
fi
