{{- $remote := env "REMOTE_CONTAINERS" | not | not -}}

# edit PATH
{{ if eq .chezmoi.os "linux" -}}
export PATH=$HOME/.cargo/bin:$HOME/.local/bin:$PATH

{{- else if eq .chezmoi.hostname "FVFFM0E5Q05Q" -}}
export PATH=$HOME/Library/Python/3.10/bin:$HOME/.rd/bin:$PATH

{{- end}}

{{if not $remote -}}
# setup gpg-agent ssh
unset SSH_AGENT_PID
if [ "${gnupg_SSH_AUTH_SOCK_by:-0}" -ne $$ ]; then
        export SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
fi
{{- end}}

# I need (neo)vim
export EDITOR='nvim'
export VISUAL='nvim'

{{if and .chezmoi.osRelease (eq .chezmoi.osRelease.id "ubuntu") -}} alias ll="exa -bghl" {{- else -}} alias ll="exa -bghl --git" {{- end}}

fpath=($HOME/.local/share/zsh/site-functions $fpath)

# enable usage of .envrc files
if command -v direnv > /dev/null ; then
  eval "$(direnv hook zsh)"
fi

# enable layer 8 error correction
if command -v thefuck > /dev/null ; then
  eval $(thefuck --alias slap)
fi

# enable zsh vi-mode
bindkey -v
export KEYTIMEOUT=1 # make switching between modes faster

# enable the starship prompt
if command -v starship > /dev/null ; then
  eval "$(starship init zsh)"
fi

# enable fzf autocompletion and key-bindings if found
if command -v fzf > /dev/null ; then

fzf_shell_script_location='/usr/share/doc/fzf/examples'

{{ if eq .chezmoi.os "darwin"}}

if [[ -d /opt/homebrew/Cellar/fzf ]] ; then
  fzf_shell_script_location="/opt/homebrew/Cellar/fzf/$(fzf --version | cut -d ' ' -f 1)/shell"
fi

{{- end}}

source $fzf_shell_script_location/completion.zsh
source $fzf_shell_script_location/key-bindings.zsh

fi


if [[ -d .zsh/zsh-autosuggestions ]] ; then
  source .zsh/zsh-autosuggestions/zsh-autosuggestions.zsh
fi

# syntax highlighting needs to be at the end because of reasons
if [[ -d .zsh/zsh-syntax-highlighting ]] ; then
  source .zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
fi

# enable autoloading of 
## autoload -U compinit
## compinit -i

