#!/bin/bash

{{ if (and (eq .chezmoi.osRelease.id "ubuntu") (.remote)) -}}
sudo apt install -y \
  ripgrep \
  bat \
  fd-find \
  zsh \
  tmux \
  exa \
  wireguard-tools \
  powerline \
  direnv \
  git-lfs \
  fzf

{{ else if (and (eq .chezmoi.osRelease.id "fedora") (eq .chezmoi.osRelease.variantID "workstation")) -}}
sudo dnf install -y \
  ripgrep \
  bat \
  fd-find \
  pass \
  zsh \
  tmux \
  exa \
  wireguard-tools \
  powerline \
  tmux-powerline \
  direnv \
  alacritty \
  starship \
  thefuck \
  git-lfs \
  fzf

{{- end }}
