{{- $commonPackages := list "tmux" "ripgrep" "entr" "bat" "zsh" "vim" "exa" "pass" "direnv" "git-lfs" "thefuck" "fzf" "wireguard-tools" -}}

{{- $linuxPackages  := list "fd-find" "powerline" -}}

{{- $debianPackages := list "shellcheck" -}}
{{- $fedoraPackages := list "ShellCheck" "starship" "procs" "tmux-powerline" -}}

{{- $brewPackages   := list "fd" "starship" "shellcheck" "kind" "k3d" "k9s" "python" "procs" "bottom" -}}
{{- $caskPackages   := list "alacritty" "homebrew/cask-fonts/font-fira-code-nerd-font" -}}

#!/bin/bash
{{ if eq .chezmoi.os "linux" -}}

{{- if or (eq .chezmoi.osRelease.id "ubuntu" "debian") -}}
sudo apt install -y {{ concat $commonPackages $linuxPackages $debianPackages | join " " }}

{{- else if eq .chezmoi.osRelease.id "fedora" -}}
sudo dnf install -y {{ concat $commonPackages $linuxPackages $fedoraPackages | join " "}}

{{- if eq .chezmoi.osRelease.variantID "workstation" -}}
sudo dnf install -y alacritty
{{- end -}}

{{- end -}}

{{- else if (eq .chezmoi.os "darwin") -}}

# note you should use rancher desktop for now. Lima didn't really work for me.
# rancher desktop provides:
# - kubectl
# - docker
# - docker-compose
# - docker-buildx
# - helm
# - nerdctl

brew install --cask {{ $caskPackages | join " "}}
brew install {{ concat $commonPackages $brewPackages | join " "}}
pip3 install --user powerline-status

{{- end }}
