#!/bin/bash

{{ if and .chezmoi.osRelease (and (eq .chezmoi.osRelease.id "ubuntu") (.remote)) -}}
sudo apt install -y \
  ripgrep \
  bat \
  fd-find \
  zsh \
  tmux \
  vim \
  exa \
  wireguard-tools \
  powerline \
  direnv \
  git-lfs \
  fzf

{{ else if and .chezmoi.osRelease (and (eq .chezmoi.osRelease.id "fedora") (eq .chezmoi.osRelease.variantID "workstation")) -}}
sudo dnf install -y \
  ripgrep \
  bat \
  fd-find \
  pass \
  zsh \
  tmux \
  vim \
  exa \
  wireguard-tools \
  powerline \
  tmux-powerline \
  direnv \
  alacritty \
  starship \
  thefuck \
  git-lfs \
  fzf

{{ else if (eq .chezmoi.os "darwin") -}}

brew install --cask \
  alacritty \
  homebrew/cask-fonts/font-fira-code-nerd-font

brew install \
  starship \
  fzf \
  direnv \
  thefuck \
  exa \
  bat \
  lima \
  kind \
  kubectl \
  k9s \
  docker \
  tmux

{{- end }}
