min_version = "2026.8.12"

[tools]
bat = "0.26.1"
difftastic = "0.71.0"
doggo = "1.4.0"
fd = "10.5.0"
fzf = "0.74.4"
github-cli = "2.101.0"
"github:neovim/neovim" = "0.12.5"
"github:nushell/nushell" = { version = "0.116.0", exe = "nu" }
"github:twpayne/chezmoi" = "2.72.2"
"github:skevetter/devpod" = "0.26.2"
herdr = "0.9.1"
jj = "0.45.1"
lsd = "1.2.0"
node = "26.10.0"
ripgrep = "15.2.0"
starship = "1.26.0"
zellij = "0.45.1"

{{ if eq .chezmoi.os "linux" -}}
"github:peteonrails/voxtype" = { version = "1.1.0", asset_pattern = "voxtype-*-linux-x86_64-onnx-avx512" }
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
colima = "0.10.3"
lima = "2.2.0"
{{ end -}}

[settings]
experimental = true
lockfile = true
pin = true
minimum_release_age = "7d"

[env]
'_'.path = [
  "~/.cargo/bin",
  "/opt/homebrew/bin",
]
'_'.file = { path = ".envrc" }

{{ if eq .chezmoi.os "darwin" -}}
[bootstrap.packages]
"brew-cask:ghostty" = "latest"
"brew-cask:1password" = "latest"
"brew-cask:alt-tab" = "latest"
"brew:docker" = "latest"
"brew:docker-compose" = "latest"
"brew:docker-buildx" = "latest"
{{end -}}
